@import "tailwindcss";

@font-face {
    font-family: 'BMYEONSUNG';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMYEONSUNG.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
  box-sizing: border-box;
  font-family:'BMYEONSUNG';
}

a {
  text-decoration: none;
}

ul, li, ol {
  list-style: none;
}