.basic-btn{
  border: 1px solid #33ffc5;
  border-radius: 15px;
  padding: 7px 15px;
  margin: 0 5px;
  background-color: #33ffc5;  
}
.basic-btn:hover{
  scale: 105%;
}
.basic-btn:active{
  filter: invert(10%);
  scale: 100%;
}

