<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.throwjava.web.member.model.dao.MemberMapper">

  <insert id="signUp">
    INSERT
      INTO
            TJ_MEMBER(
              MEMBER_ID
            , MEMBER_PWD
            , MEMBER_NAME
            , EMAIL
            )
    VALUES
            (
              #{memberId}
            , #{memberPw}
            , #{memberName}
            , #{email}
            )
  </insert>

  <select id="selectMemberByMemberId">
    SELECT
      MEMBER_ID memberId,
      MEMBER_PWD memberPw,
      MEMBER_NAME memberName,
      EMAIL email,
      ROLE role
    FROM
      TJ_MEMBER
    WHERE
      MEMBER_ID = #{memberId}
  </select>

  <update id="updateMemberInfo"
          parameterType="com.throwjava.web.member.model.vo.Member">
    UPDATE
      TJ_MEMBER
    SET
      MEMBER_NAME = #{memberName},
      EMAIL = #{email}
    WHERE
      MEMBER_ID = #{memberId}
  </update>

  <update id="updatePassword"
    parameterType="com.throwjava.web.member.model.vo.Member">
    UPDATE
      TJ_MEMBER
    SET
      MEMBER_PWD = #{memberPw}
    WHERE
      MEMBER_ID = #{memberId}
  </update>

  <delete id="deleteByPassword"
          parameterType="string">
    UPDATE
        TJ_MEMBER
    SET
        IS_ACTIVE = 'N'
    WHERE
        MEMBER_ID = #{memberId}
  </delete>
</mapper>