
.side-navbar{
  width: 180px;
  height: 100vh;
  border-right: 1px solid #c5d5c6;
}

.nav-item-container{
  padding-top : 25px;
  font-size: 18px;
}

.nav-item{
  padding: 8px;
}


.nav-item > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.nav-icon{
  width: 20px;
  height: 20px;
  position:absolute;
  top:1px;
  left:5px;
}

.item-name{
  padding-left: 30px;
}

.nav-item:hover{
  background-color: rgb(202, 247, 202);
}
.nav-item:active{
  filter: invert(5%);
}